@media(max-width:768px){

.dashboard-grid{
    grid-template-columns:1fr;
}

.navbar{
    flex-direction:column;
}

.nav-links{
    flex-direction:column;
    margin-top:20px;
}

.hero h2{
    font-size:30px;
}

.hero-content{

flex-direction:column;

text-align:center;

}

.hero-image img{

width:280px;

}


}